#App-searcher input {

    width: 70%;
    height: 2.5em;
    margin-right:2em;

}

#App-sectionFilter {

    margin-top:1em;
    height: 2em;
    width: 20em;
    color:black;
}

#modal {

    visibility: hidden;
    
}