.App-header {
    background-color: #000;
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    padding-bottom: 1em;
  }