.App-card {

    width: 75%;
    display:inline-flex;
    margin: 1.5em 0 1.5em 0;
}


.App-cardDiv:first-child {

    width: 15%;
}

.App-cardDiv:nth-child(2) {

    width: 42%;
}

.App-cardDiv:nth-child(3) {

    width: 42%;
}

.App-cardDiv img {
    
    width: 8em;
    border-radius: 1em;
}

.App-itemName {

    color:white;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: capitalize;
}

.App-itemSection {

    color:white;
    font-size: 1em;
    font-weight: 300;
    text-transform: capitalize;
}

.App-cardButtons button {

    border-radius: 0.5em;
    padding: 0.6em 1.3em 0.6em 1.3em;
    font-weight: 600;
    font-size: 1em;
    margin-left: 1em;
    border: none;
    color:white;

}

.App-cardButtons button:first-child {

    background-color: rgb(60, 183, 194);
}

.App-cardButtons button:nth-child(2) {

    background-color: rgb(68, 34, 186);

}

.App-cardButtons button:nth-child(3) {

    background-color: rgb(33, 141, 204);
    
}

.App-cardButtons button:hover {

    opacity: 0.8;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.eotm {

    background-color: rgb(124, 8, 109);
    /*border: solid white;*/
    border-radius: 1em;
}

/*------- css del ex componente Boton ------*/

/* 
.App-button {
    background-color: rgb(38, 88, 180);
    border:none;
    border-radius: 0.1em;
    padding: 0.9em 1.5em 0.9em 1.5em;
    color: white;
    font-weight: 600;
    font-size:0.85em;
}

.App-button:hover {

    background-color: rgb(74, 82, 204);
}
*/